<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>
  <div id="app">
    <v-app>
      <v-main>
        <div>
          <v-container>Smart Cameras Network</v-container>
          <v-container id="app"></v-container>
          <v-divider></v-divider>
          
          <v-divider></v-divider>
        </div>
        <v-container v-if='!isHidden'>
          <v-hover >
            <img id="streamer-image" src="">
          </v-hover>
        </v-container>
        <v-container>
        <div class="row">
            <div v-for="(value, name) in map" class="column">
                <template>
                    <v-card
                      class="mx-auto"
                      max-width="344"
                      outlined
                    >
                      <v-list-item three-line>
                        <v-list-item-content>
                          <div class="overline mb-4">
                            {{ name }}
                          </div>
                          <v-list-item-title class="headline mb-1">
                            Presence:
                          </v-list-item-title>
                            <li v-for="name in value">
                                {{ name }}
                            </li>
                          <v-list-item-subtitle>
                              
                          </v-list-item-subtitle>
                        </v-list-item-content>
                  
                        <v-list-item-avatar
                          tile
                          size="80"
                          color="grey"
                        ></v-list-item-avatar>
                      </v-list-item>
                  
                      <v-card-actions>
                        <v-btn
                          outlined
                          rounded
                          text
                          v-on:click="hidden(); call_frames(name)">
                          Start
                        </v-btn>
                      </v-card-actions>
                    </v-card>
                  </template>
            </div>
        </div>
      </v-container>

      </v-main>
    </v-app>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
    new Vue({
      el: '#app',
      vuetify: new Vuetify(),
      data: {
          streamConnection: {},
          mapConnection: null,
          map: {},
          isHidden: true
      },
      //methods: {
        /*
        btcTrkAPICall: function () {
          axios
          .get("http://localhost:9999/map")
          .then((response)=> (this.map = response.data))
          .catch((error)=> (console.log(error)))
        },
        intervalFetchData: function () {
            setInterval(() => {    
                this.btcTrkAPICall();
                }, 2000);    
        }*/
      //},
      beforeMount: function() {
        console.log("Starting connection to WebSockets")
        var vm = this;
        var init = 0;
        //this.streamConnection = new WebSocket("ws://localhost:8000/ws/stream/Smartcap1")
        this.mapConnection = new WebSocket("ws://localhost:9999/ws/map")

        console.log(this.mapConnection)
        
        this.mapConnection.onmessage = function(event) {
          vm.map = {};
          dict_room = {};
          dict_connect = {};
          var msg = JSON.parse(event.data);
          Object.keys(msg).forEach(function(key) {
            //console.log('Key : ' + key + ', Value : ' + msg[key])
            dict_room[key] = msg[key];
            if (init == 0){
              path = 'ws://localhost:9999/ws/stream/' + key;
              console.log(path);
              dict_connect[key] = new WebSocket(path);
            }
          });
          vm.map = dict_room;

          if (init == 0){
            console.log("Finish init");
            vm.streamConnection = dict_connect;
            init = 1;
            Object.entries(vm.streamConnection).forEach(([k,v]) => {
              console.log(k,v);
            });
          }
        }
      },
      unmounted: function() {
        console.log("close websocket");
        this.mapConnection.close();

      },
      methods: {
        hidden: function(){
          this.isHidden = !this.isHidden;
        },
        call_frames: function (key) {
          if(this.isHidden == false){
            console.log("on!");
            var dict_ws = this.streamConnection;
            console.log(dict_ws[key]);
            dict_ws[key].onmessage = function(e) {
              console.log("In stream");
		          const image_elem = document.getElementById("streamer-image");
              image_elem.src = e.data;
            }
	        }
          if(this.isHidden == true){
            var dict_ws = this.streamConnection
            console.log("off");
            dict_ws[key].close();
          }
        }
      },
      
    })
  </script>
</body>
</html>
